%section.content-header
%section.content
  .container-fluid
    .row
      .col-12
        .card
          .card-header
            %h3.card-title Calendrier
            .card-tools{ style: 'width: 15vw;' }
              = form_tag root_path, method: :get, class: 'dashboard-form' do
                .form-group
                  = text_field_tag :dates, "#{@date_range.first.strftime('%d-%m-%Y')} - #{@date_range.last.strftime('%d-%m-%Y')}", class: 'form-control dashboard-date'

          .card-body
            %table.table-bordered.text-center.absences-table
              %thead
                %tr
                  %th.align-middle Agent
                  - @date_range.each do |date|
                    %th
                      = date.day
                      %br
                      = wday_to_s date.wday
              %tbody
                - @agents.each do |agent|
                  %tr
                    %td.text-nowrap
                      = "[#{agent.register_number}]"
                      = agent.complete_name
                    - @date_range.each do |date|
                      %th.day{ class: date.wday.zero? ? 'sunday' : nil, data: { date: date, agent: agent.id, toggle: :tooltip } }
                        .day-background

.card.event-picker{ style: 'display: none;' }
  .card-header
    %h3.card-title Assigner un événement
    .card-tools
      %btn.btn.btn-sm.float-right{ data: { toggle: :collapse }, href: '.event-picker-body' }
        %i.fas.fa-angle-up
  .card-body
    .row.event-picker-body.collapse
      .col-6.event-container{ data: { event: 0, color: '' } }
        .color-display{ style: 'background-color: #fff' }
        .event-name Aucune
      - @absence_types.each do |absence_type|
        .col-6.event-container{ data: { event: absence_type.id, color: absence_type.color, name: absence_type.name } }
          .color-display{ style: "background-color: #{absence_type.color}" }
          .event-name= absence_type.name

:javascript
  ABSENCES = #{ raw @absences.map(&:to_json) }