%section.content-header
%section.content
  .container-fluid
    .row
      .col-6
        .card
          .card-header
            %h3.card-title Anniversaires
          .card-body
            - if @birthdays.empty?
              Aucun anniversaire à venir
            - else
              %table.table
                - @birthdays.each do |agent|
                  %tr
                    %td= agent.complete_name
                    %td= display_date agent.birthday
          - unless @birthdays.empty?
            .card-footer= paginate @birthdays
        .card
          .card-header
            %h3.card-title Derniers messages
          .card-body
            .direct-chat-messages{ data: { channel_subscribe: :room, room_id: @room_id } }= render @last_messages
      .col-6
        .row
          .col-12
            .card{ style: "height: 40vh;" }
              .card-header
                %h3.card-title Statistiques du mois
              .card-body
                %canvas#month-absences-chart
          .col-12
            .card{ style: "height: 40vh;" }
              .card-header
                %h3.card-title Statistiques de l'année
              .card-body
                %canvas#year-absences-chart

:javascript
  var donutOptions     = {
    maintainAspectRatio : false,
    responsive : true,
  }

  new Chart($('#month-absences-chart').get(0).getContext('2d'), {
    type: 'doughnut',
    data: {
    labels: #{raw @month_absences.keys},
    datasets: [
      {
        data: #{@month_absences.values},
        backgroundColor : #{raw @month_absences.keys.map{ |v| string_to_hex_color v }},
      }
    ]
  },
    options: donutOptions
  })

  new Chart($('#year-absences-chart').get(0).getContext('2d'), {
    type: 'doughnut',
    data: {
    labels: #{raw @year_absences.keys},
    datasets: [
      {
        data: #{@year_absences.values},
        backgroundColor : #{raw @year_absences.keys.map{ |v| string_to_hex_color v }},
      }
    ]
  },
    options: donutOptions
  })