.register-box
  .register-logo
    %a
      %b> PM
      Lille
  .card
    .card-body.register-card-body
      %p.login-box-msg Modifier mon compte
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .input-group.mb-3
          = f.text_field :email, class: 'form-control', placeholder: 'E-mail', disabled: true
          .input-group-append
            %span.input-group-text
              %i.fas.fa-envelope
        .input-group.mb-3
          = f.text_field :last_name, class: 'form-control', placeholder: 'Nom'
          .input-group-append
            %span.input-group-text
              %i.fas.fa-user
        .input-group.mb-3
          = f.text_field :first_name, class: 'form-control', placeholder: 'Prénom'
          .input-group-append
            %span.input-group-text
              %i.fas.fa-user
        .input-group.mb-3
          = f.password_field :password, class: 'form-control', placeholder: 'Mot de passe'
          .input-group-append
            %span.input-group-text
              %i.fas.fa-lock
        .input-group.mb-3
          = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Mot de passe (bis)'
          .input-group-append
            %span.input-group-text
              %i.fas.fa-lock
        .input-group.mb-3
          = f.password_field :current_password, class: 'form-control', placeholder: 'Mot de passe actuel', required: true
          .input-group-append
            %span.input-group-text
              %i.fas.fa-lock
        .row
          .col-6
            = link_to :back, class: 'btn btn-default btn-block' do
              Retour
          .col-6
            = f.submit 'Valider', class: 'btn btn-primary btn-block'
