= form_for item, remote: true do |f|
  .modal-body
    .row
      .col-12
        .form-group
          = f.label :agent_id, 'Agent'
          = f.select :agent_id, options_from_collection_for_select(@agents, :id, :complete_name, item.agent_id), { include_blank: true }, { class: 'form-control select2', required: true }
        .form-group
          = f.label :reason, 'Raison'
          = f.text_field :reason, class: 'form-control'
        .form-group
          = f.label :amount, 'Durée en heures (positive pour créditer, négative pour débiter)'
          = f.number_field :amount, class: 'form-control', step: 0.25
  .modal-footer.justify-content-between
    = f.submit 'Enregistrer', class: 'btn btn-primary'