%tr{ data: { item_id: agent.id }, class: agent.active? ? '' : 'bg-warning' }
  %td= agent.id
  %td= agent.complete_name
  %td= agent.register_number
  %td
    - if agent.birthday
      = display_date agent.birthday
      = "(#{agent.age} ans)"
  %td= agent.team
  %td= agent.rank
  %td
    = agent.compensatory_rests.sum(&:amount).round(2)
    heures
  %td
    .btn-group
      = link_to agent, class: 'btn btn-info btn-sm' do
        %i.fas.fa-eye
      = link_to edit_agent_path(agent), remote: true, class: 'btn btn-default btn-sm' do
        %i.fas.fa-edit
      = link_to public_agent_path(agent.token), target: '_blank', class: 'btn btn-default btn-sm' do
        %i.fas.fa-external-link-alt
      -# = link_to agent, method: :delete, remote: true, class: 'btn btn-danger btn-sm', data: { confirm: 'Voulez-vous vraiment supprimer cet agent ?' } do
      -#   %i.fas.fa-trash