.card
  = render 'ajax/refresh'
  .card-header
    %h3.card-title= agent.complete_name
    - if display_nav
      .card-tools{ style: 'width: 15vw;' }
        = form_tag agent_url(agent), method: :get, class: 'dashboard-form' do
          = select_tag :year, options_for_select(agent.arrival_date.year..Time.now.year, @current_date.year), class: 'form-control', onchange: 'this.form.submit()'
  .card-body
    .card
      .card-header
        %h3.card-title= "Statistiques #{@date_range.first.year}"
      .card-body
        %table.table.table-bordered.table-sm
          - @absence_types.each do |absence_type|
            %tr
              %td.text-center
                .color-display.xl{ style: "background-color: #{absence_type.color}", data: { event_type: absence_type.id }, class: absence_type.texture } 0
              %td{ style: 'line-height: 32px' }= absence_type.name
    - if display_summary
      .card
        .card-header
          %h3.card-title= "Récapitulatif #{@date_range.first.year}"
        .card-body
          %table.table.table-bordered.text-center
            %tr
              %th Congés par an
              %th= agent.leave_balance
            %tr
              %th Congés pris
              %th= @leave_taken
            %tr
              %th= "Report congés #{@date_range.first.year - 1}"
              %th= agent.leave_balance - @leave_outstanding
            %tr.bg-secondary
              %th
                Solde disponible
                %i.fas.fa-info-circle{ data: { toggle: :tooltip }, title: 'Cette valeur est indicative et peux ne pas réfléter la réalité.' }
              %th= agent.leave_balance - @leave_taken + (agent.leave_balance - @leave_outstanding)
    .card
      .card-header
        %h3.card-title Repos compensatoires
      .card-body
        %table.table.table-bordered.text-center
          %thead
            %tr
              %th Raison
              %th Durée
          %tbody
            - @compensatory_rests.each do |compensatory_rest|
              %tr
                %td= display_date compensatory_rest.created_at
                %td= compensatory_rest.reason
                %td= compensatory_rest.amount
          %tfoot.bg-secondary
            %tr
              %td.text-bold{ colspan: 2 }
                Solde disponible
                %i.fas.fa-info-circle{ data: { toggle: :tooltip }, title: 'Cette valeur est indicative et peux ne pas réfléter la réalité.' }
              %td.text-bold= agent.compensatory_rests.sum(&:amount)
        = paginate @compensatory_rests

