%section.content-header
%section.content
  .container-fluid
    .row
      .col-4= render 'statistics', agent: item, display_summary: true, display_nav: true
      .col-8
        .row
          - @date_range.group_by(&:month).values.each do |date_range|
            .col-6.d-flex.align-items-stretch= render 'absence_table', date_range: date_range
= render 'absence_types/absence_picker'
:javascript
  ABSENCES = #{ raw @absences.map(&:to_json) }
  HOLIDAYS = #{ raw @holidays.to_json }