= form_for item, remote: true do |f|
  .modal-body
    .row
      .col-12
        .form-group
          = f.label :name, 'Nom'
          = f.text_field :name, class: 'form-control', required: true
        .form-group
          = f.label :color, 'Couleur'
          = f.text_field :color, class: 'form-control color-picker', required: true
        .form-group
          = f.label :leave_balance, 'Congés payés à déduire'
          = f.number_field :leave_balance, class: 'form-control', required: true, step: 0.5
        .form-group
          = f.label :texture, 'Texture'
          - AbsenceType::TEXTURES.each do |selector|
            .form-check
              = f.radio_button :texture, selector, class: 'form-check-input'
              .form-check-label
                .color-display.xl{ class: selector }

  .modal-footer.justify-content-between
    = f.submit 'Enregistrer', class: 'btn btn-primary'