%section.content-header
%section.content
  .container-fluid
    .row.d-flex.flex-wrap
      .col-xl-4.col-sm-12
        .card
          .card-body
            .direct-chat-messages{ data: { channel_subscribe: :room, room_id: @room.id } }= render partial: 'room_messages/room_message', collection: @room.room_messages.order_by_created_at
          .card-footer
            = form_for RoomMessage.new(room: @room), remote: true do |f|
              .input-group
                = f.hidden_field :room_id
                = f.text_field :message, class: 'form-control', id: 'room-message-input', required: true
                .input-group-append
                  = f.button type: :submit, class: 'btn btn-sm btn-default' do
                    %i.fas.fa-paper-plane
      .col-xl-8.col-sm-12
        .card
          .card-header
            %h3.card-title Prévision des 25 prochains jours
          .card-body= render 'absences/team_table', agents: @team_agents, date_range: @month_range, display_link: false
    .row
      .col-xl-4.col-sm-12
        .row
          .col-12= render 'agents/statistics', agent: @agent, display_summary: false, display_nav: false
          .col-xl-12.d-none.d-lg-block
            .card
              .card-body
                .row
                  .col-4= image_tag 'logo.jpg', width: '100%'
                  .col-8
                    %p
                      Les informations de cette page peuvent ne pas être à jour et sont disponibles à titre indicatif.
                    %p
                      En cas de doute ou d'erreurs, merci de contacter votre responsable.
      .col-xl-8.col-sm-12
        .row
          - @date_range.group_by(&:month).values.each do |date_range|
            .col-xl-4.d-flex.align-items-stretch= render 'agents/absence_table', date_range: date_range, item: @agent

.direct-chat-msg.d-none{ data: { role: 'message-template' } }
  .direct-chat-infos.clearfix
    %span.direct-chat-name.float-left
    %span.direct-chat-timestamp.float-right
  %img.direct-chat-img
  .direct-chat-text

:javascript
  ABSENCES = #{ raw @absences.map(&:to_json) }
  TEAM_ABSENCES = #{ raw @team_absences }
  HOLIDAYS = #{ raw @holidays.to_json }
  RECURRING_ABSENCES = #{ raw @recurring_absences }
  $(document).on('turbolinks:load', () => {
    $('.day').addClass('disabled');
  });
  userId = null;
