%table.text-center.absences-table.w-100.table-highlight
  %thead
    %tr
      %th.align-middle.agent-name.fit-text= agents.first&.team
      - date_range.each do |date|
        %th
          = date.day
          %br
          = wday_to_s date.wday
  %tbody
    - agents.each do |agent|
      %tr
        %td.text-nowrap.agent-name
          %span.fit-text
            - if display_link
              = link_to agent do
                = "[#{agent.register_number}]"
                = agent.complete_name
            - else
              = "[#{agent.register_number}]"
              = agent.complete_name
        - date_range.each do |date|
          %td.day{ class: day_class(agent, date), data: { date: date, agent: agent.id, toggle: :tooltip } }
            .day-texture
            .day-background

