%section.content-header
%section.content
  .container-fluid
    .row
      .col-12
        .card
          .card-header
            %h3.card-title Calendrier
            .card-tools{ style: 'width: 30vw;' }
              = form_tag absences_path, method: :get, class: 'dashboard-form' do
                .row
                  .col-6= select_tag :team_id, options_from_collection_for_select(@teams, :id, :name, params[:team_id]), class: 'form-control dashboard-team', include_blank: 'Toutes'
                  .col-6= text_field_tag :dates, "#{@date_range.first.strftime('%d-%m-%Y')} - #{@date_range.last.strftime('%d-%m-%Y')}", class: 'form-control dashboard-date'

          .card-body.w-100
            - @agents.group_by(&:team_id).each do |team, agents|
              = render 'team_table', agents: agents, date_range: @date_range, display_link: true
= render 'absence_types/absence_picker'
:javascript
  ABSENCES = #{ raw @absences.map(&:to_json) }
  HOLIDAYS = #{ raw @holidays.to_json }